#!/bin/bash
curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh | NONINTERACTIVE=true bash
if [ -f /home/linuxbrew/.linuxbrew/bin/brew ] ; then
    echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> {{ .chezmoi.homeDir }}/.profile
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
else
 [ -f /usr/local/bin/brew ]
    echo 'eval "$(/usr/local/bin/brew shellenv)"' >> {{ .chezmoi.homeDir }}/.profile
    eval "$(/usr/local/bin/brew shellenv)"
fi
